/* STRUCTURE */

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", system-ui;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:"wdth" 100;

    
}

/* HEADER */
header div {
    background-color: black;
    text-align: center;
    line-height: 80px;
}

header div img {
    width: 30%;
    padding-top: 30px;
}
.hero {
    background-image: url(../images/banner.jpg);
    background-size: 136%;
    background-position: -70px;
    width: 100%;
    font-family: "Montserrat", system-ui;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        text-align: center;
        padding-bottom: 30px;
        line-height: 30px;
}

.blu-title{
    color: #25a2c3;
    padding-bottom: 12px;
    font-weight: 600;
}

section h1 {
    font-size: 2em;
    padding-inline: 50px;
    padding-top: 50px;
}

header p {
    padding-bottom: 20px;
    padding-inline: 40px;
    color: #474747;

}

button {
 background-color: #f04c2f;
    line-height: 35px;    
    border-radius: 5px;
    border: none;
    padding-inline: 30px;  
}

button:hover {
    background-color: #7b2213;
}

header button a {
        font-family: "Montserrat", system-ui;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
            text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* MAIN */
/* ARTICLE */
/* In questa sezione ho dovuto creare più regole di quello che
   ritenevo necessario poichè le regole imposte successivamente
   non sovrascrivevano le precedenti, anche se avevano una 
   specificità più alta */
main {
    text-align: center;
    line-height: 30px;
    padding-top: 50px;
    font-weight: 300;
}

main article{
    padding-inline: 30px;
    margin-bottom: 40px;
}


main article p {
    padding-bottom: 20px;
    color: #474747;
}

article img {
    border-radius: 50%;
    width: 78%;
    padding-bottom: 20px;
}
/* SECTION */
/* Ho notato che il testo del riquadro arancione è più "schiacciato"
   ma non sono riuscita a replicarlo */
.orange {
    padding-top: 40px;
    padding-bottom: 25px;
    background-color: #f04c2f;
    color: white;
    font-family: "Monserrat", system-ui;
}

.orange h2{
    font-size: 1.5em;
    padding-bottom: 25px;
    font-weight: 700;
}

section .small {
    font-size: 0.7rem;
    font-style: italic;
    padding-inline: 60px;
    padding-bottom: 15px;
}

.smaller {
    font-size: 0.6rem;
    line-height: normal;
}

/* ASIDE */
aside {
    margin-top: 60px; 
    padding-inline: 20px; 
    margin-bottom: 60px;
    font-size: 0.8rem;
}

aside div{
    border: solid 1px rgb(230, 230, 230);
    margin-bottom: 30px;
    /* Come da immagine ho applicato il border-radius solo dove richiesto */
    border-radius: 0 0 5px 5px;
    
}

aside div img {
    width: 100%;
}

aside div h4 {
    padding-top: 15px;
}

aside div p {
    padding-bottom: 20px;
    padding-inline: 30px;
}

/* FOOTER */

footer {
    text-align: center;
    background-color:#25a2c3;
    color: rgb(241, 241, 241);
    padding-top: 30px; 
    padding-bottom: 50px;
    font-family: "Montserrat", system-ui;
    line-height: 23px;
    font-size: 0.8rem;
}
h2 {
    font-weight: 600;
    font-size: 1.7em;
    padding-bottom: 15px;
}

address a {
    color: #c8e7f0;

}

address {
    padding-bottom: 10px;
}

hr {
    width: 50%;
    color: #c8e7f0;
}

cite a {
    color: white;
}